<section>
    <h5 class="p-5">{{data}}</h5>
    <div class="container bg-secondary bg-opacity-75 w-75  text-center  mt-5 p-5 rounded-4">

        <h4>Singin to your Bank Account</h4>

        <form action="" [formGroup]="loginForm" (ngSubmit)="login()" class="w-75 ms-auto me-auto">

            <div>
                <input formControlName="acno" id="acid" name="acnum1" class="form-control mt-5  " type="text"
                    [placeholder]="inptplcholdr">
            </div>
            <div *ngIf="this.loginForm.get('acno')?.touched && this.loginForm.get('acno')?.errors">
                <p class="col-lg-6 col-12 text-white bg-danger  me-auto ms-auto rounded-bottom-4 p-1 ">* this field is
                    required
                </p>
            </div>
            <div>
                <input formControlName="psw" id="psw1" name="paswrd1" class="form-control  mt-4" type="password"
                    placeholder="Enter Password">
            </div>
            <div *ngIf="this.loginForm.get('psw')?.touched && this.loginForm.get('psw')?.errors">
                <p class="col-lg-6 col-12 text-white bg-danger  me-auto ms-auto rounded-bottom-4 p-1 ">* this field is
                    required
                </p>
            </div>
            <div>
                <button type="submit" class="btn btn-outline-light mt-5">login</button>
            </div>
            <div class="pt-3">
                <strong class="text-white">not registered?<a class="text-info" routerLink="register"> click
                        here</a></strong>
            </div>

        </form>


    </div>
</section>